// variables
$color-primary-blue: #93bde0;
$color-primary-grey: #e0e3da;
$color-primary-white: #fffff6;
$color-primary-black: #47525e;

$blue: #75b6eb;
$light-blue: #ddf4fc;

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// animations
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  80% {
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
