.App {
  background-image: linear-gradient(
      to left top,
      rgba($blue, 0.7) 50%,
      rgba(rgb(221, 244, 252), 0.75)
    ),
    url('./assets/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
